.page {
  background: linear-gradient(145deg, hsl(157, 96%, 41%) 0%, hsl(0, 0%, 100%) 100%);
}

.page h1 {
  color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
}

.wrapper button {
  padding: 8px 24px;
  background: #111;
  border: none;
  border-radius: 0.795em;
  font-size: large;
  color: #fff;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.token-info {
  display: flex;
  align-items: center;
  gap: 8rem;
  margin: 0.75rem  0 2rem 0;
}

.token-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid #111;
  border-radius: 0.875rem;
  padding: 0.875rem 4rem;
}

.token-item h4 {
  color: aliceblue;
  margin-bottom: 0.5rem;
}

.link {
  padding: 1rem;
  margin: 0;
  color: #111;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}


@media (max-width: 600px) {
  .page {
    font-size: medium;
  }

  .wrapper button {
    padding: 8px 22px;
    font-size: medium;

  }

  .token-info {
    margin: 0.5rem  0 1.5rem 0;
    flex-direction: column;
    gap: 2rem;
  }

  .token-item {
    padding: 0.375rem 4rem;
  }

  .token-item h4 {
    margin-bottom: 0.2rem;
  }
}